/*Stylesheet for my blog*/

/*Title is centered, in a good font and fixed in its position*/

body{
  background-color: #FFFFFB;
  color: #253B40;
  font-family: 'Muli', sans-serif;


}
h1 {
  font-family: sans-serif;
  top: 10px;
  font-weight: bolder;
  text-align: center
}
h6 {
  font-family: sans-serif;
  position: relative;
  text-align: center;
}

/*Blog Post Title: center and formatted*/

.blog_post {
    position: relative;
    left: 30%;
    margin-top: 20px;
}

.blogpost, p {
  width: 600px;
  margin-top: -15px;
}


.blogpost, h3{
  margin-top: 40px;
  font-weight: bold;
  font-size: 1.5em;
}


.blogpost, h5{
  position:relative;
  top: -10px;
}

.

/*Blog post text*/

/*List of former posts*/

div h4 {
  font-family: sans-serif;
  position: absolute;
  top: 150px;
  text-decoration: underline;
  left: 20px;
}

ul {
  font-family: sans-serif;
  position: absolute;
  top:180px;
  left: 20px;
  margin: 10px;
  padding: 5px;
  font-size: 80%;
}

/*Link to Home*/

#link{
  color: blue;
  left: 48%;
  bottom: 10px;
  margin-top: 20px;
  position: relative;
  font-family: sans-serif;
}

.block{
  height:100%;
  width: 22.5% ;
  background: linear-gradient(white, #E0E5E4);
  top: 0;
}

#left_block{
  position:absolute;
  left: 0;
}

#right_block{
  position:absolute;
  left: 77.5%;
}

/*Images!*/

.image_blog {
  margin-top: 20px;
  padding: 20px;
  width: 600px;
  height: 300px;
  position: relative;
}

