body{
  background-color:gray;
}

#title{
   text-align: center;
   border: 2px solid black;
   width: 50%;
   margin:auto;
}


#name h3{
    text-align:center;
    color: Blue;
    }

#What_is{

    border: 2px solid black;
    width: 600px;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
}

#Why_is {

    border: 2px solid black;
    width: 600px;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
}

#compare {
   border: 2px solid black;
    width: 600px;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
}

#resources {
    border: 2px solid black;
    width: 600px;
    margin: auto;
    padding: 10px;
    margin-top: 5px;
}




