/*Stylesheet for my blog*/

/*Title is centered, in a good font and fixed in its position*/

h1 {
  font-family: sans-serif;
  position: fixed;
  margin-left:auto;
  margin-right: auto;
  top: 10px;
  font-weight: bolder
}

/*Blog post title is in good font, */
h3{
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  font-weight: bold;
}

/*Blog text is fine */

 p {

  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  font-family: sans-serif;
}

h4 {
  font-family: sans-serif;
  left: 15px;
  position: relative;
}

ul li {
  font-family: sans-serif;
  left: 10px;
  position: relative;
}

#link{
  color: blue;
  bottom: 20px;
  position: fixed;
  font-family: sans-serif;
}

