/*Stylesheet for my blog*/

/*Title is centered, in a good font and fixed in its position*/

h1 {
  font-family: sans-serif;
  top: 10px;
  font-weight: bolder;
}

/*Blog post text*/
p {
  width: 650px;
  font-family: sans-serif;
  position: relative;
  left: 350px;


}

/*List of former posts*/

h4 {
  font-family: sans-serif;
  position: relative;
  top: -100px;
  left: 18px;
  text-decoration: underline;
}

ul li {
  font-family: sans-serif;
  position: relative;
  top: -100px;
  left: 20px;

}
/*Blog Post Title: center and formatted*/

h3{
  font-family: sans-serif;
  position: relative;
  margin-top: 10px;
  font-weight: bold;
}


/*Link to Home*/

#link{
  color: blue;
  left: 45%;
  top: 200px;
  position: relative;
  font-family: sans-serif;
}

