/*Stylesheet for my blog*/

/*Title is centered, in a good font and fixed in its position*/

h1 {
  font-family: sans-serif;
  position: fixed;
  left: 500px;
  top: 10px;
  font-weight: bolder
}

/*List of former posts*/

h4 {
  font-family: sans-serif;
  left: -5px;
  position: relative;
}

ul li {
  font-family: sans-serif;
  left: -12px;
  position: relative;

}