/*Stylesheet for my website*/

body{
  background-color: #6FB0BF;
  color: #253B40;

}

h1{
  position: relative;
  text-align: center;

}

h3{
    position: relative;
    text-align: center;

}

.welcome_message{
    position: relative;
    width: 200px;
    padding: 20px;
    margin-bottom: 25px;
    border: 1px solid black;
}


 .line_maker{
   height: .5px;
   background-color: black;
   border-bottom: 1px solid black;
 }

.bold_line{
   height: .5px;
   background-color: white;
   border-bottom: 3px dashed black;

 }

 .about{
     position: relative;
     display: inline-block;
     height: 10px;
     width: 100px;
     left: 20%;

 }

 .projects{
     position: relative;
     display: inline-block;
     height: 10px;
     width: 100px;
     left: 40%;
     top: -19px;
 }

 .blog{
     display: inline-block;
     position: relative;
     left: 60%;
     top: -35px;

 }

 .contact{
     display: inline-block;
     position: relative;
     left: 80%;
     top: -55px;

 }


