/*Stylesheet for my website*/

body, html {
  min-height: 100%;
}

body{

  background: url("http://wallpoper.com/images/00/21/55/83/cartoon-calvin-and-hobbes_00215583.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  background-color: white;
  color: #253B40;
  font-family: 'Muli', sans-serif;

}

#title_header {
  position: relative;
  text-align: center;
  left: 25%;

}


a {
  color:black;
}
#site_links {
  text-align: center;
  margin-top: 60px;

}

.btn {
  border: 5px solid #F4FFF6;
  background-color: white;
  padding: 10px 5px 10px 5px;
  width: 100px;
}

 #about{
     position: relative;
     display: inline-block;
     left: 32%;

 }

 #projects{
     position: relative;
     display: inline-block;
     left: 36%;
 }

 #blog{
     display: inline-block;
     position: relative;
     left: 14.5%;
     top: 75px;

 }

 #contact{
     display: inline-block;
     position: relative;
     left: 18.5%;
     top: 75px;

 }

 .button{
  border: 1px solid black;
  background-color: #2C487F;
  color: #A4C2FF;
 }

.home_pic{
  position:relative;
  height: 150px;
  left:85%;
}

.contact_button{
  height:35px;
  width:35px;
}

.contact_links {
  display:inline;
  position:relative;
  left: 92%;
  top: 450px;
}



